<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.giraffeproxy"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GiraffeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiraffeProxy">
        <activity
            android:name=".ac0529.LaunchAc0529"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ac0529.VpnListAc0529"
            android:screenOrientation="portrait"/>
        <activity android:name=".ac0529.ResultAc0529"
            android:screenOrientation="portrait"/>
        <activity android:name=".ac0529.VpnAc0529"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".ac0529.PrivacyAc0529"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>